{
  "openapi": "3.0.3",
  "info": {
    "title": "Wahoo Cloud API",
    "description": "Minimal OpenAPI specification for Wahoo Cloud API endpoints used by FitGlue. This is a partial spec covering only the endpoints we consume.",
    "version": "1.0.0",
    "contact": {
      "name": "Wahoo Fitness",
      "url": "https://developers.wahooligan.com"
    }
  },
  "servers": [
    {
      "url": "https://api.wahooligan.com",
      "description": "Wahoo Cloud API"
    }
  ],
  "paths": {
    "/oauth/token": {
      "post": {
        "operationId": "exchangeToken",
        "summary": "Exchange authorization code for tokens",
        "description": "Exchange an OAuth authorization code for access and refresh tokens.",
        "tags": [
          "OAuth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "client_id",
                  "client_secret",
                  "code",
                  "grant_type",
                  "redirect_uri"
                ],
                "properties": {
                  "client_id": {
                    "type": "string",
                    "description": "OAuth client ID"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "OAuth client secret"
                  },
                  "code": {
                    "type": "string",
                    "description": "Authorization code from OAuth callback"
                  },
                  "grant_type": {
                    "type": "string",
                    "enum": [
                      "authorization_code",
                      "refresh_token"
                    ],
                    "description": "OAuth grant type"
                  },
                  "redirect_uri": {
                    "type": "string",
                    "description": "Redirect URI used in authorization request"
                  },
                  "refresh_token": {
                    "type": "string",
                    "description": "Refresh token (required when grant_type is refresh_token)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful token exchange",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Invalid credentials"
          }
        }
      }
    },
    "/v1/user": {
      "get": {
        "operationId": "getUser",
        "summary": "Get current user profile",
        "description": "Returns the authenticated user's profile information.",
        "tags": [
          "User"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/workouts/{workoutId}": {
      "get": {
        "operationId": "getWorkout",
        "summary": "Get workout details",
        "description": "Returns details for a specific workout.",
        "tags": [
          "Workouts"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workoutId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workout ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Workout details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workout"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Workout not found"
          }
        }
      }
    },
    "/v1/workouts/{workoutId}/file": {
      "get": {
        "operationId": "getWorkoutFile",
        "summary": "Download workout FIT file",
        "description": "Downloads the FIT file for a specific workout.",
        "tags": [
          "Workouts"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workoutId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workout ID"
          }
        ],
        "responses": {
          "200": {
            "description": "FIT file binary data",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Workout or file not found"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth2 access token"
      }
    },
    "schemas": {
      "TokenResponse": {
        "type": "object",
        "required": [
          "access_token",
          "refresh_token",
          "expires_in",
          "created_at"
        ],
        "properties": {
          "access_token": {
            "type": "string",
            "description": "OAuth access token"
          },
          "refresh_token": {
            "type": "string",
            "description": "OAuth refresh token"
          },
          "expires_in": {
            "type": "integer",
            "description": "Token expiration time in seconds"
          },
          "created_at": {
            "type": "integer",
            "description": "Token creation timestamp (Unix epoch seconds)"
          },
          "token_type": {
            "type": "string",
            "description": "Token type (usually 'Bearer')"
          }
        }
      },
      "User": {
        "type": "object",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "description": "Wahoo user ID"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "User email address"
          },
          "first": {
            "type": "string",
            "description": "First name"
          },
          "last": {
            "type": "string",
            "description": "Last name"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Account creation timestamp"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Account last update timestamp"
          }
        }
      },
      "Workout": {
        "type": "object",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "description": "Workout ID"
          },
          "name": {
            "type": "string",
            "description": "Workout name"
          },
          "workout_token": {
            "type": "string",
            "description": "Unique workout token"
          },
          "workout_type_id": {
            "type": "integer",
            "description": "Workout type ID (0=Cycling, 1=Running, 2=Walking, etc.)"
          },
          "starts": {
            "type": "string",
            "format": "date-time",
            "description": "Workout start timestamp"
          },
          "minutes": {
            "type": "number",
            "description": "Total workout duration in minutes"
          },
          "distance_accum": {
            "type": "number",
            "description": "Total distance in meters"
          },
          "ascent_accum": {
            "type": "number",
            "description": "Total elevation gain in meters"
          },
          "calories": {
            "type": "number",
            "description": "Calories burned"
          },
          "heart_rate_avg": {
            "type": "number",
            "description": "Average heart rate in BPM"
          },
          "power_avg": {
            "type": "number",
            "description": "Average power in watts"
          },
          "cadence_avg": {
            "type": "number",
            "description": "Average cadence"
          },
          "speed_avg": {
            "type": "number",
            "description": "Average speed in m/s"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Record creation timestamp"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Record last update timestamp"
          },
          "plan_id": {
            "type": "integer",
            "nullable": true,
            "description": "Associated training plan ID if any"
          }
        }
      }
    }
  }
}
